<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/new.css %>

<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('juken-logo-black.png' , size: '185x50'), "/" %>
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">受験校の情報を入力</h2>
    <%= form_with model:@product,local: true do |f| %>
    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
        <%= render 'shared/error_messages', model: @product %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%# 受験校画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        受験校画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /受験校画像 %>

    <%# 受験校と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        受験校
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :product_name, class:"items-text", id:"item-name", placeholder:"受験校（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          受験校の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :product_discription, class:"items-text", id:"item-info", placeholder:"受験校の説明（必須 1,000文字まで）（出願締切日、一次試験日、一次合格発表日、二次試験日、二次試験合格発表日、手続締切日など）例）出：1/7、①1/19、❶1/23、②1/27ー1/29（選択）、❷2/5、手2/11、1次：TKP新大阪駅カンファレンスセンター、2次：東京赤坂CP）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /受験校と商品説明 %>

    <%# 受験の難易度 %>
    <div class="items-detail">
      <div class="weight-bold-text question-text">
        <span>受験の難易度</span>
        <a class="question" href="https://xn--0kq33cz5c8wmwrqqw1d.com/?p=202">?</a>
      </div>
      <div class="form">
        <div class="weight-bold-text">
          受験区分
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:product_category_id, ProductCategory.all,  :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          偏差値
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:product_condition_id, ProductCondition.all,  :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
        <div class="weight-bold-text">
          共通テストボーダー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:shipping_burden_id, ShippingBurden.all,  :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
      </div>
    </div>
    <%# /受験の難易度 %>

    <%# 受験会場 %>
    <div class="items-detail">
      <div class="weight-bold-text">受験会場</div>
      <div class="form">
        <div class="weight-bold-text">
          試験場の場所
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:shipping_area_id, ShippingArea.all,  :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
      </div>
    </div>
    <%# /受験会場 %>
    <%# 受験会場 %>
    <div class="items-detail">
      <div class="weight-bold-text">現状</div>
      <div class="form">
         <div class="weight-bold-text">
          受験の状況
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:days_to_ship_id, DaysToShip.all,  :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
      </div>
    </div>
    <%# /受験会場 %>

    <%# 学納金 %>
    <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>学納金等 総計<br>(¥3,500k〜45,500k)</span>
        <a class="question" href="https://xn--0kq33cz5c8wmwrqqw1d.com/?p=214">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>金額</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :purchase_price, class:"price-input", id:"item-price", placeholder:"例）300" %>k
        </div>
        <%# <div class="price-content">
          <span>販売手数料 (10%)</span>
          <span>
            <span id='add-tax-price'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>販売利益</span>
          <span>
            <span id='profit'></span>円
          </span>
        </div> %>
      </div>
    </div>
    <%# /学納金等 総計 %>

    <%# 注意書き %>
    <div class="caution">
      <p class="sentence">
        <a href="#">推奨されている受験校（◯）、</a>
        <a href="#">受験可の受験校（△）</a>
        を必ず確認すること。
      </p>
      <p class="sentence">
        また2次試験が複数日選択可能な場合は記載すること。
        <a href="#">小論文の試験</a>
        が一次試験で実施される可能性がある。
      </p>
      <p class="sentence">
        また、情報入力をもって
        <a href="#">受験することに</a>
        同意したこととする。
      </p>
    </div>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "修正する" ,class:"sell-btn" %>
      <%=link_to 'もどる', "#", class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">JUKEN利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('juken-logo-black.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎Juken,Inc.
    </p>
  </footer>
</div>