<%= render "shared/header" %>

<%# 受験校の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @product.product_name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @product.image, class:"item-box-img" %>
      <%# 商品が売れている場合は、passedを表示しましょう %>
      <%# <% if product.purchase.present? %>
      <% if @product.days_to_ship_id == 2 %>
          <div class="sold-out">
            <span>Passed</span>
          </div>
        <% end %>
      <%# //商品が売れている場合は、passedを表示しましょう %>

    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%# ¥ <%= @product.purchase_price %>
        <%= @product.product_category.name %>
      </span>
      <%# <span class="item-postage"> %>
        <%# <%= @product.shipping_burden.name  %>
        <%# 偏差値  <%= @product.product_condition.name %>
      <%# </span>  %>
    </div>
    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
    <% if user_signed_in? && (current_user.id == @product.user_id && !@product.purchase.present?)   %>

    <%= link_to "受験校情報の編集", edit_product_path, method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", product_path, method: :delete, class:"item-destroy" %>

    <%# <% elsif user_signed_in? && (current_user.id != @product.user_id)   % %>
    <%# 商品が売れていない場合はこちらを表示しましょう ＃購入ページへのシフトを回避＃%>
      <%# <% if !@product.purchase.present? % %>
        <%# <%= link_to "合格確定", product_purchases_path(@product.id), class:"item-red-btn"% %>
      <%# <% end  %>
    <%# //商品が売れていない場合はこちらを表示しましょう ＃購入ページへのシフトを回避＃%>
    <% end %>
    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

    <div class="item-explain-box">
      <span>
        <%= @product.product_discription %>
      </span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">受験区分</th>
          <td class="detail-value">
          <%= @product.product_category.name %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">学納金 総計</th>
          <td class="detail-value">
          ¥<%= @product.purchase_price %>k
          </td>
        </tr>
        <tr>
          <th class="detail-item">偏差値</th>
          <td class="detail-value">
          <%= @product.product_condition.name %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">共通テストボーダー</th>
          <td class="detail-value">
          <%= @product.shipping_burden.name %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">試験場の場所</th>
          <td class="detail-value">
          <%= @product.shipping_area.name %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">受験の状況</th>
          <td class="detail-value">
          <%= @product.days_to_ship.name %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">情報収集・提供</th>
          <td class="detail-value">
          <%= @product.user.nickname %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>誤った記載の通報</span>
      </div>
    </div>
  </div>
  <%# /受験校の概要 %>

<%# 新コメント追加 %>
<%# <div class="comment-form"> %>
<div class="comment-box">
  <% if user_signed_in? %>
    <%= form_with model: [@product, @comment], id: "comment-form" do |f| %>
      <%= f.text_area :text , class: "comment-text"%>
      <%# <%= f.submit "コメントをする", class: "comment-submit" % %>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <%= f.submit "コメントをする", class: "comment-btn" %>
    <% end %>
  <% end %>
</div>
<%# /新コメント追加 %>

  <%# コメントのための最初の部分  %>
  <%# <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        悠さんのことを考え精神的に負担にならないコメントを心がけよう。
        <br>
        もう十分に頑張っています
        <br>
        安心して試験に臨めるといいね。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <%# <span>コメントする<span>
      </button>
    </form>
  </div> % %>
<%# /コメントのための最初の部分 %>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の受験校
    </a>
    <a href="#" class="change-item-btn">
      後ろの受験校 ＞
    </a>
  </div>
  <a href="#" class="another-item">
  <%= @product.product_category.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
