<%= render "shared/header" %>

<%# 受験校の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @product.product_name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @product.image, class:"item-box-img" %>
      <%# 商品が売れている場合は、sold outを表示しましょう %>
        <% if @product.purchase.present? %>
          <div class="sold-out">
            <span>Sold Out!!</span>
          </div>
        <% end %>
      <%# //商品が売れている場合は、sold outを表示しましょう %>

    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @product.purchase_price %>
      </span>
      <span class="item-postage">
        <%= @product.shipping_burden.name %>

      </span>
    </div>
    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
    <% if user_signed_in? && (current_user.id == @product.user_id && !@product.purchase.present?)   %>

    <%= link_to "受験校情報の編集", edit_product_path, method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", product_path, method: :delete, class:"item-destroy" %>

    <% elsif user_signed_in? && (current_user.id != @product.user_id)   %>
    <%# 商品が売れていない場合はこちらを表示しましょう %>
      <% if !@product.purchase.present? %>
        <%= link_to "購入画面に進む", product_purchases_path(@product.id), class:"item-red-btn"%>
      <% end %>
    <%# //商品が売れていない場合はこちらを表示しましょう %>
    <% end %>
    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

    <div class="item-explain-box">
      <span>
        <%= @product.product_discription %>
      </span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value">
          <%= @product.user.nickname %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">受験区分</th>
          <td class="detail-value">
          <%= @product.product_category.name %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">偏差値</th>
          <td class="detail-value">
          <%= @product.product_condition.name %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">共通テストボーダー</th>
          <td class="detail-value">
          <%= @product.shipping_burden.name %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">試験場の場所</th>
          <td class="detail-value">
          <%= @product.shipping_area.name %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">宿泊要否</th>
          <td class="detail-value">
          <%= @product.days_to_ship.name %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>誤った記載の通報</span>
      </div>
    </div>
  </div>
  <%# /受験校の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        悠さんのことを考え精神的に負担にならないコメントを心がけよう。
        <br>
        もう十分に頑張っています
        <br>
        安心して試験に臨めるといいね。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の受験校
    </a>
    <a href="#" class="change-item-btn">
      後ろの受験校 ＞
    </a>
  </div>
  <a href="#" class="another-item">
  <%= @product.product_category.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
